.masonry {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

.masonry .tile {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}


#superNav {

	.expand i.fa-arrow-down {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		color: $brand-info;
	}

	position: relative;
	border-bottom: solid 1px #eee;


	.tile:first-of-type h4 {
		margin-top: 0;
	}

	ul.nav, ul.nav > li {
		position: static;
	}

	.sections {

		.close { color: #000; }

		position: absolute;
		display: none;
		width: 100%;
		background: #eee;
		left: 0;
		z-index: 5;
		padding: 15px 0;

		-webkit-box-shadow: 0px 0px 0px #000, 0px 10px 25px #333;
		box-shadow: 0px 0px 0px #000, 0px 10px 25px #333;

		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}

	.expand:hover, .expand:focus {
		.sections {
			display: block;
			// left: 50%;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.expand:hover, .expand:focus {
		.sections {
			top: 0;
		}
	}
}

@media (min-width: $screen-sm-min) {

	.masonry {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}

	#superNav {

		.sections, .expand:not(:focus) .sections {
			display: block;
			
			-webkit-transform-origin: 50% 0;
			transform-origin: 50% 0;

			-webkit-transform: perspective(12000px) rotateX(-90deg);
			transform: perspective(12000px) rotateX(-90deg);
		}

		.expand:hover, .expand:focus {
			.sections {
				-webkit-transform: perspective(1200px) rotateX(0deg);
				transform: perspective(1200px) rotateX(0deg);
				-webkit-transition-delay: 0.3s;
				transition-delay: 0.3s;
			}
		}

	}
}